*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;

}

/* shared styles */
button{

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgb(255, 66, 165);
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    
}

.default-p{

    color: rgb(83, 76, 100);
    font-size: 18px;
    font-weight: 400;

}

/* navbar styles started here */

nav{
    
    top: 0;
    width: 100%;
    padding: 37px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);

}

.logo{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

}

.logo a{

    color: rgb(11, 2, 35);
    font-size: 2.813em;
    font-weight: 700;

}

.logo span{

    background: linear-gradient(90.00deg, rgb(255, 66, 165),rgb(255, 66, 165));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav-list{

    display: flex;
    align-items: center;
    gap: 2rem


}

.nav-list a{

    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;

}

.nav-list button{

    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;
    background: rgba(11, 2, 35, 0.1);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.nav-list .fa-youtube{

    color:rgb(246, 28, 13);
    font-size: 25px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;

}

.nav-list .fa-tiktok{

    color:rgb(0, 0, 0);
    font-size: 20px;

}

/* navbar styles end here */

/* hero section styles started here */

.hero{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    
}

.hero-text-container{

    padding-left: 7%;
    background: url(../resources/Hero\ BG.png);

}

.hero-text h2{

    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 600;

}

.hero-text h1{

    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;

}

.hero-text p{

    color: rgb(83, 76, 100);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;

}

.hero-text .fa-circle-play{

    color: rgb(255, 66, 165);
    margin-right: 20px;

}
.hero-text .fa-download{

    color: rgb(255, 66, 165);
    margin-right: 20px;

}
.hero-text .fa-user-group{

    color: rgb(11, 2, 35);
    margin-right: 20px;
    margin-bottom: 40px;

}

.hero-btn-1{

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgb(255, 66, 165);
    margin-right: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    cursor: pointer;

}
.hero-btn-2{

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: rgb(78, 197, 247);
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    cursor: pointer;

}

.hero-img{

    padding-right: 7%;

}

.hero-img img{

    width: 550px;

}

/* hero section styles ended here */

/* gamer section styles started here */

.gamer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 55px 7%;


}

.gamer-img img{

    width: 90vh

}

.gamer-text h1{

    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 21px;

}

.gamer-text p{

    margin-bottom: 32px;

}

.gamer-text button{

    margin-bottom: 23px;

}

.gamer-text span{

    color: rgb(83, 76, 100);
    font-size: 24px;
    font-weight: 500;

}

.gamer-text h3{

    color: rgb(83, 76, 100);
    font-size: 28px;
    font-weight: 700;

}

/* games section styles started here */

.games{

    margin-top: 120px;
    padding: 0 7%;

}

.games h1{

    color: rgb(11, 2, 35);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 13px;

}

.games span{

    background: linear-gradient(rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip: text;
    color: transparent;

}

.games-text p{

    text-align: center;

}

.games-img-container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 48px;

}

.games-img{

    width: 100%;
    position: relative;

}

.games-img img{

    width: 100%;
    height: auto;

}

.games-img-text{

    position: absolute;
    margin-top: 24px;

}

.games-img-text p{

    color: rgb(83, 76, 100);
    font-size: 16px;
    font-weight: 500;

}

.gamer-img-3{

    position: relative;

}

.hover{

    position: absolute;
    top: 45%;
    left: 30%;
    text-align: center;

}

.hover i{

    font-size: 32px;
    color: white;

}

.hover p{

    font-size: 20px;
    color: rgb(255, 66, 165);

}

.img-3:hover{

    filter: brightness(50%);

}

/* gamer section styles ended here */

/* responsive styles */
@media screen and (max-width:950px) {
    /* navbar */
    nav{
        flex-direction: column;
    }
    .nav-list{
        flex-direction: column;
        margin-top: 1.25rem;
    }
    /* hero section */
    .hero{
        flex-direction: column-reverse;
    }
    .hero-text-container{
        padding: 0 7%;
    }
    .hero-text h2{
        margin-top: 100px;
    }
    .hero-img{
        margin-top: 50px;
        padding-right: 0%;
        padding: 0 7%;
    }
    .hero-img img{
        width: 100%;
    }
    /* gamer section */
    .gamer{
        flex-direction: column;
        text-align: center;
    }
    .gamer-img img{
        width: 100%;
    }
    /* games section */
    .games-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .games-img{
        margin-top: 50px;
    }
    .hover{
        position: absolute;
        top: 50%;
        left: 42%;
        text-align: center;   
    }
    
}
